.InfoContainer {
  display: grid;
  grid-template-columns: 1.7fr 1.3fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: '. .';
}

.Poster {
  height: auto;
}

.Text {
  font-size: 16px;
}
