.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
}

.header::after {
  display: block;
  width: 1920px;
  content: '';
  border-bottom: 1px solid #000;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
